.quiz-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 80px;
    width: 70%;
    margin: 30px auto;
}

@media screen and (max-width: 1300px) {
    .quiz-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .quiz-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}