.header{
    display: block;
}

.header img{
    height: 300px;
    margin-top: 100px;
    margin-bottom: -30px;
}

.header h2{
    color: #288;
    font-size: 40px;
}

@media screen and (max-width: 600px) {
    .header img{
        height: 150px;
    }

    .header h2{
        font-size: 25px;
        margin-left: 10px;
    }
}